# EditorConfig is awesome: http://EditorConfig.org
[*]
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true
charset = utf-8

[*.{R,zsh,sh,bash,go}]
indent_style = space
